body{
    background-color: black;
}
.text1{
    color:blanchedalmond;
    font-family:cursive;
}
#journal{
    background-color:black;
    border: 1px  solid white;
    width: 700px;
    height: 700px;
    color:blanchedalmond ;
    font-family: cursive;
    word-wrap:break-word;
    white-space: pre-wrap;
}
#s{
    height: 50px;
    width: 50px;
    color:black;
    font-family:cursive;
    background-color:blanchedalmond;
}
#out{
    color:rgb(0, 0, 0);
    background-color:aquamarine;
}