body{
    background-color: black;
}
.text1{
    color:blanchedalmond;
    font-family:cursive;
}
#journal{
    background-color:black;
    border: 1px  solid white;
    width: 700px;
    height: 700px;
    color:blanchedalmond ;
    font-family: cursive;
    word-wrap:break-word;
    white-space: pre-wrap;
    resize: none;
}
#save{
    height: 50px;
    width: 50px;

}
#output{
    background-color:black;
    border: 1px  solid white;
    width: 700px;
    height: 700px;
    color:blanchedalmond ;
    font-family: cursive;
    word-wrap:break-word;
    white-space: pre-wrap;
    resize: none;
}
#notes{
    height: 50px;
    width: 50px;

}
#textarea-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#writing{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#saved{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
